body {
    background-color: #202020;
}

table {
    align-items: center;
}

.button {
    width: 100px, 50px;
    background-color: rgb(97, 97, 97);
    border: 4px, rgb(248, 248, 248);
}

.foto-perfil {
    max-width: 100px;
    align-content: center;   
}