body {
    background-color: #2c2c2c;
    align-items: center;
}

table {
    align-items: center;
}

a {
    text-align: center;
}

.button {
    width: 200px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    border: 4px, rgb(31, 0, 141);
}

.foto-perfil {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50px;   
}

.icon-button {

}