body {
    margin-top: 15%;
    background-color: #2e2e2e;
    text-align: center;
}

h2 {
    color: white 
}

table {
    width: 50% !important;
    margin: auto;
    border-radius: 5px;
}

a {
    color: black
}

.button {
    width: 100%;
    margin: 5%; 
    max-height: 100%;
    background-color: #ffffff;
    border-radius: 5px;   
}

[class*=button]:hover {
    background-color: #646464;
}

.foto-perfil {
    max-width: 15%;
    max-height: 15%;
    border-radius: 50%;  
    border: 5px solid white; 
}

.icon-button {
    margin: 5%;
    max-width: 25%;
    max-height: 25%;
    border-radius: 5px; 
}